/DNC.py
/opencv_viewer_example.py
esc_example.py
plotCurves.py
stream_data.py
script.py
multithread.py
__pycache__/Camera.cpython-37.pyc
__pycache__/Camera.cpython-38.pyc
__pycache__/helpers.cpython-38.pyc
results/demo2_gainExposureLaserPower_ES/badInit_staticDark/color_badInitialization_dark.gif
results/demo2_gainExposureLaserPower_ES/badInit_staticDark/depth_badInitialization_dark.gif
results/demo2_gainExposureLaserPower_ES/badInit_staticDark/plot1.png
results/demo2_gainExposureLaserPower_ES/badInit_staticDark_2/color_badInitialization_dark.gif
results/demo2_gainExposureLaserPower_ES/badInit_staticDark_2/depth_badInitialization_dark.gif
results/demo2_gainExposureLaserPower_ES/badInit_staticDark_2/plot1.png
results/demo2_gainExposureLaserPower_ES/badInit_staticDark_3/color_badInitialization_dark.gif
results/demo2_gainExposureLaserPower_ES/badInit_staticDark_3/depth_badInitialization_dark.gif
results/demo2_gainExposureLaserPower_ES/badInit_staticDark_3/plot1.png
results/demo2_gainExposureLaserPower_ES/badInit_Torch/badInit_Torch.png
results/demo2_gainExposureLaserPower_ES/badInit_Torch/color_badInitialization_torch.gif
results/demo2_gainExposureLaserPower_ES/badInit_Torch/depth_badInitialization_torch.gif
results/demo2_gainExposureLaserPower_ES/basline_goodInit_staticBright/color_goodInitialization_static.gif
results/demo2_gainExposureLaserPower_ES/basline_goodInit_staticBright/depth_goodInitialization_static.gif
results/demo2_gainExposureLaserPower_ES/basline_goodInit_staticBright/goodInitialConditions.png
script_es_descent.py
color_badInitialization_dark.gif
depth_badInitialization_dark.gif
